body {background: #E0E0E0;
}



.content {
  max-width: 780px;
  margin:auto;
  text-align: center;
  font-color: black;
}


.header {
  padding-top: 80px;
}

.navbar {
      padding-top: 10px;
      text-align: center;
      margin:0px;
      list-style: none;
      float: center;
      display: inline-block;
      background-color: black;
     } 

.nav li {
      display: inline;
    }

  .nav a {
    color: white;
    display: inline-block;

   }

<!--HOME-->

 .home-title, h1 {
      font-size: 150px;
      margin-top:30px;
      margin-bottom: 10px;
   }

<!--ABOUT-->

.about-title, h1 {
  font-size: 60px;
  text-align: center;
}

.about-text {
  text-align: left;
}

<!--THE WORK-->

<!--WRITINGS-->

}
<!--EXTRA-->

<!--CONTACT-->