body {
  background: #F5F5F5;
}



.content {
  max-width: 780px;
  margin:auto;
  text-align: center;
  font-family: 'Droid Sans', serif;
}


h1 {
      color: white;
      font-size: 100px;
      margin-top:220px;
      margin-bottom: 10px;
      color:#FF7518;
    }

    h3 {
      font-size:30px;
      color: black;
    }

.navbar {
      padding-top: 10px;
      text-align: center;
      margin:0px;
      list-style: none;
      float: center;
      display: inline-block;
      background-color: black;
     } 

.nav li {
      display: inline;
    }

  .nav a {
    color: white;
    display: inline-block;
    font-style: bold;

   }

<!--HOME-->

;
   }

<!--ABOUT-->


.about-title {
  margin-top: auto;
  text-align: left;
  color: #FF7518;
  }

.about-text {
  text-align: left;
  background: black;
  padding: 40px;
  margin-top: 150px;
  color: white;
  }

<!--THE WORK-->

<!--WRITINGS-->

}
<!--EXTRA-->

<!--CONTACT-->